<!DOCTYPE html>
<html>

<head>
	<title>Vitalfit</title>
	<meta name="viewport" content="minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="format-detection" content="telephone=no" />

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

	<link rel="stylesheet" href="mobileui/mui.min.css" type="text/css">
	<link rel="stylesheet" href="custom/custom.css" type="text/css">

	<link rel="stylesheet" href="vuetify/vuetify.min.css" type="text/css">
	</link>
	<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
	<!-- <link rel="stylesheet" href="node_modules/keen-ui/dist/keen-ui.min.css"> -->

	<script src="index.js"></script>
	<script src="phonegap.js"></script>
	<script src="vendors/fastclick.min.js" type="text/javascript"></script>

	<script src="vendors/jquery.min.js" type="text/javascript"></script>
	<script src="vendors/jquery.animate-enhanced.js" type="text/javascript"></script>
	<script src="vendors/jqwait/jquery.wait.min.js" type="text/javascript"></script>
	<script src="vendors/iscroll-min.js" type="text/javascript"></script>

	<script src="mobileui/mui.min.js" type="text/javascript"></script>
	<script src="custom/custom.js" type="text/javascript"></script>

	<script src="https://cdn.zingchart.com/zingchart.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<!-- <script src="node_modules/keen-ui/dist/keen-ui.min.js"></script> -->


	<script src="custom/cliente.js"></script>


</head>

<body>
	<!-- Main wrapper. Importantly, think carefully before you change it or remove it. Do not recommend it. -->
	<!-- Main wrapper. Importante, Piénselo bien antes de cambiarlo o quitarlo. No se lo recomiendo. -->
	<div id="mui-screen" class="mui-viewport">
		<div id="mui-screen-page" class="mui-page">
			<!-- Ddefault viewport. Do not remove. It will make your life simpler and happy. -->
			<!-- ViewPort por defecto. No lo elimines. Hará tu vida más simple y feliz. -->
			<div id="mui-viewport" class="mui-viewport">


				<!--PAGINA INICIO-->


				<div id="home-page" class="mui-page">
					<div class="mui-page-header">
						<div class="mui-page-logo"></div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="home-body">
						<!-- <v-container  fill-height> -->
						<v-carousel style="height: 100%;" :light='true' :next-icon='false' :prev-icon='false'
							:continuous="false">
							<v-carousel-item v-for="(ejercicio, i) in diaSeleccionado.ejercicios" :key="i" style="overflow-y: scroll; padding-bottom: 50px;">
								<v-sheet height="100%" background='black'>
									<br>
									<v-row class="fill-height" align="center" justify="center">
										<div class="col-80">
											<span> EJERCICIO:</span> <br><br>{{ejercicio.nombre}}
											<v-divider dark=true style="margin-top: 5%"></v-divider>
										</div>
										<div class="col-80">
											SERIES: <br><br>{{ejercicio.series}}
											<v-divider dark=true style="margin-top: 5%"></v-divider>
										</div>
										
										<div class="col-80">
											REPETICIONES: <br><br>{{ejercicio.repeticiones}}
											<v-divider dark=true style="margin-top: 5%"></v-divider>
										</div>
										<div class="col-80">
											INTENSIDAD: <br><br>{{ejercicio.intensidad}}
											<v-divider dark=true style="margin-top: 5%"></v-divider>
										</div>
										<div class="col-80">
											TIEMPO: <br><br>{{ejercicio.tiempo}}
											<v-divider dark=true style="margin-top: 5%"></v-divider>
										</div>
										<div class="col-80">
											<v-btn @click="handleSelectEjercicio(ejercicio)"> CARGAR SESION</v-btn>
										</div>
									</v-row>
								</v-sheet>
							</v-carousel-item>
						</v-carousel>
						<!-- </v-container> -->
					</div>
				</div>



				<!-- TODOS LOS PLANES -->


				<div id='planes-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'> PLANES </div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div>
							<div class="col-80">
								<p class="titulo">PLANES</p>
							</div>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
							<div class="col-80">
								<ul class="lista_planes_cliente">
									<li v-for="plan in planes">
										<a onclick="desplegarDiasClienteOnclick(this)">{{plan.nombre}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- PLAN ASIGNADO -->

				<div id='plan-page-asignado' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>{{plan.nombre}}</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div class="col-80">
							<p class="titulo">{{plan.nombre}}</p>
						</div>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<div class="col-80">
							<v-btn class="planes_alumno_boton" v-for="dia in plan.dias"
								@click="handleSelectDia(dia)">{{dia.nombre}}</v-btn>
						</div>
					</div>
				</div>


				<!-- PLAN ASIGNADO - DIA SELECCIONADO -->


				<div id='dia-page-asignado' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>{{dia.nombre}}</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<p class="titulo">EJERCICIOS</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<ul class="lista_sesion_ejercicios">
							<li v-for="ejercicio in dia.ejercicios">
								<div class="col-80">
									<p class="nombre_ejercicio">{{ejercicio.nombre}}</p>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<p class="lista_ejercicio_elemento">Series: {{ejercicio.series}}</p>
									<br>
									<p class="lista_ejercicio_elemento">repeticiones: {{ejercicio.repeticiones}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Intensidad: {{ejercicio.intensidad}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Tiempo: {{ejercicio.tiempo}}</p>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<v-btn class="ver_sesiones_boton" @click="handleSelectEjercicio(ejercicio)">Agregar
										Sesion</v-btn>
								</div>
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<br>
							</li>
						</ul>
					</div>
					<br>
				</div>


				<!-- PLAN ASIGNADO - DIA SELECCIONADO - AGREGAR SESION -->


				<div id='ejercicio-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>AGREGAR SESIÓN</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<p class="titulo">NUEVA SESIÓN DE</p>
						<p class="titulo">{{ejercicio.nombre}}</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<div class="col-80" id="elementos_sesion">
							<p class="sesion_elemento">Nombre:</p><input id="sesion_nombre_ejercicio" type="String" placeholder="Nombre de ejercicio"
								v-model="sesion.nombre">
							<br>
							<p class="sesion_elemento">Series:</p><input id="sesion_series_ejercicio" type="Number" placeholder="Series realizadas"
								v-model="sesion.series">
							<br>
							<p class="sesion_elemento">Repeticiones:</p><input id="sesion_repeticiones_ejercicio" type="Number"
								placeholder="Repeticiones realizadas" v-model="sesion.repeticiones">
							<br>
							<p class="sesion_elemento">Intensidad:</p><input type="Number"
								placeholder="Intensidad Alcanzada" v-model="sesion.intensidad">
							<br>
							<p class="sesion_elemento">Tiempo:</p><input id="sesion_tiempo_ejercicio" type="Number" placeholder="Tiempo de Ejecución"
								v-model="sesion.tiempo">
							<br>
						</div>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<br>
						<v-btn class="confirmar_boton" @click="confirmarSesionEjercicios">Confirmar</v-btn>
					</div>
				</div>



				<!-- PLAN SELECCIONADO - DIA SELECCIONADO -->


				<div id='dia-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>{{dia.nombre}}</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<p class="titulo">EJERCICIOS</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<ul class="lista_sesion_ejercicios">
							<li v-for="ejercicio in dia.ejercicios">
								<div class="col-80">
									<p class="nombre_ejercicio">{{ejercicio.nombre}}</p>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<p class="lista_ejercicio_elemento">Series: {{ejercicio.series}}</p>
									<br>
									<p class="lista_ejercicio_elemento">repeticiones: {{ejercicio.repeticiones}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Intensidad: {{ejercicio.intensidad}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Tiempo: {{ejercicio.tiempo}}</p>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<v-btn class="ver_sesiones_boton" @click="verSesiones(ejercicio)">Ver
										Sesiones</v-btn>
								</div>
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<br>
							</li>
						</ul>
					</div>
				</div>


				<!-- PLAN SELECCIONADO - DIA SELECCIONADO - VISUALIZAR SESIONES -->


				<div id='visualizarSesiones-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>SESIONES</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<p class="titulo">{{nombreEjercicio}}</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<ul class="lista_sesion_ejercicios">
							<li v-for="(sesion, i) in sesiones">
								<div class="col-80">
									<p class="nombre_ejercicio">Sesión - {{i + 1}}</p>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<p class="lista_ejercicio_elemento">Series: {{sesion.series}}</p>
									<br>
									<p class="lista_ejercicio_elemento">repeticiones: {{sesion.repeticiones}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Intensidad: {{sesion.intensidad}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Tiempo: {{sesion.tiempo}}</p>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<br>
								</div>
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<br>
							</li>
						</ul>
					</div>
				</div>

				<!-- CAMBIO CONTRASEÑA -->


				<div id='changepassword-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow-home" href="#"></a>
						<div class='mui-page-title'>CAMBIAR CONTRASEÑA</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body mui-scrollable" id="second-body">
						<p class="titulo">CAMBIO CONTRASEÑA</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<div class="col-80">
							<p class="sesion_elemento">Contraseña anterior:</p><input type="password"
								placeholder="Nombre de sesion" v-model="password.oldPassword">
							<br>
							<p class="sesion_elemento">Nueva contraseña:</p><input type="password"
								placeholder="Series realizadas" v-model="password.password">
							<br>
						</div>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<br>
						<v-btn class="confirmar_boton" @click="changepassword">Confirmar</v-btn>
					</div>
				</div>


				<!-- SELECCIONAR DIA -->
				<div id='seleccionarDia-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow-home" href="#"></a>
						<div cla21ss='mui-page-title'>SELECCIONAR DIA</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body mui-scrollable" id="second-body">
						<v-btn @click="asignarDia(dia)" v-for="(dia, i) in dias" :key="i" label="Standard" class="col-80">{{dia.nombre}}</v-btn><br>
					</div>
				</div>

				<!-- mui-screen level panel -->
				<!-- Panel a nivel de mui-screen -->


			</div>
		</div>
		<div id="menu-panel" class="mui-panel">
			<div class="mui-panel-header">
				<div class='mui-panel-title'>Menu</div>
			</div>
			<div class="mui-panel-body">
				<div>
					<ul id='menuoptions' class='mui-list'>
						<li><a @click="seleccionarDia">Seleccionar dia</a></li>
						<li><a @click="logout">Cerrar sesión</a></li>
						<li><a @click="irachangepassword">Cambiar contraseña</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


</body>

</html>