<!DOCTYPE html>
<html>

<head>
	<title>Vitalfit</title>
	<meta name="viewport" content="minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="format-detection" content="telephone=no" />

	<link rel="stylesheet" href="mobileui/mui.min.css" type="text/css">
	<!-- <link rel="stylesheet" href="node_modules/keen-ui/dist/keen-ui.min.css"> -->
	<link rel="stylesheet" href="vuetify/vuetify.min.css" type="text/css">
	</link>
	<!-- <link rel="stylesheet" href="node_modules/vuetify/dist/vuetify.css" type="text/css"></link> -->
	<link rel="stylesheet" href="custom/custom.css" type="text/css">
	<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>

	<script src="index.js"></script>
	<script src="phonegap.js"></script>
	<script src="vendors/fastclick.min.js" type="text/javascript"></script>

	<script src="vendors/jquery.min.js" type="text/javascript"></script>
	<script src="vendors/jquery.animate-enhanced.js" type="text/javascript"></script>
	<script src="vendors/jqwait/jquery.wait.min.js" type="text/javascript"></script>
	<script src="vendors/iscroll-min.js" type="text/javascript"></script>

	<script src="mobileui/mui.min.js" type="text/javascript"></script>
	<script src="custom/custom.js" type="text/javascript"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<!-- <script src="node_modules/keen-ui/dist/keen-ui.min.js"></script> -->

	<script src="custom/entrenador.js"></script>
</head>

<body>
	<!-- Main wrapper. Importantly, think carefully before you change it or remove it. Do not recommend it. -->
	<!-- Main wrapper. Importante, Piénselo bien antes de cambiarlo o quitarlo. No se lo recomiendo. -->
	<div id="mui-screen" class="mui-viewport">
		<div id="mui-screen-page" class="mui-page">
			<!-- Ddefault viewport. Do not remove. It will make your life simpler and happy. -->
			<!-- ViewPort por defecto. No lo elimines. Hará tu vida más simple y feliz. -->
			<div id="mui-viewport" class="mui-viewport">


				<!-- PAGINA INICIO -->


				<div id="home-page" class="mui-page">
					<div class="mui-page-header">
						<div class="mui-page-logo"></div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="home-body" style="overflow:scroll">
						<div>
							<v-flex>
								<p class="titulo">ALUMNOS</p>
							</v-flex>
							<v-divider></v-divider>
							<div class="col-80">
								<br>
								<v-container>
									<v-layout>
										<v-flex>
											<v-text-field type="text" label="Buscar por nombre"
												class="filtro_alumnos_input" v-model="search"
												prepend-inner-icon="person_search"></v-text-field>
										</v-flex>
										<v-flex>
											<v-btn deppressed icon outlined class="agregar_alumno_boton"
												@click="nuevoAlumno">
												<v-icon>person_add</v-icon>
											</v-btn>
										</v-flex>
									</v-layout>
								</v-container>
								<v-expansion-panels popout focusable class="lista_alumnos">
									<v-expansion-panel v-for="(alumno, index) in alumnosFiltrados">
										<v-expansion-panel-header class="cabezal_expansion_panel"
											@click='seleccionarAlumno(alumno)'>
											<p>{{ alumno.nombre }}</p>
										</v-expansion-panel-header>
										<v-expansion-panel-content>
											<button v-on:click="verAlumno">Visualizar Alumno</button>
											<v-divider></v-divider>
											<button v-on:click="verPlanes">Visualizar Planes</button>
											<v-divider></v-divider>
											<button v-on:click="abrirPlanNuevo(alumno)">Nuevo Plan</button>
											<v-divider></v-divider>
											<button v-on:click="abrirNuevaSesion">Nueva Sesión</button>
											<v-divider></v-divider>
											<button v-on:click="asignacionPlan">Asignar Plan</button>
										</v-expansion-panel-content>
									</v-expansion-panel>
								</v-expansion-panels>
							</div>
						</div>
					</div>
				</div>


				<!-- CARGA DE DATOS NUEVO ALUMNO -->


				<div id='nuevoAlumno-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>NUEVO ALUMNO</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div class="col-80" id="nuevoAlumnoID">
							<br>
							<p>Nombre:</p><input type="text" placeholder="Nombre" v-model="alumno.nombre"><br>
							<p>Apellido:</p><input type="text" placeholder="Apellido" v-model="alumno.apellido"><br>
							<p>Fecha de Nacimiento:</p><input type="date" placeholder="Fecha de Nacimiento"
								v-model="alumno.fecha_nacimiento"><br>
							<p>Nro. de Contacto:</p><input type="tel" placeholder="Nro. de Contacto"
								v-model="alumno.nro_contacto"><br>
							<p>mail:</p><input type="mail" placeholder="mail" v-model="alumno.mail"><br><br>
							<button class="confirmar_boton" @click="confirmarAlumno">Confirmar</button>
						</div>
					</div>
				</div>


				<!-- VISUALIZAR ALUMNO -->


				<div id='visualizarAlumno-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>DATOS ALUMNO</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<p class="titulo">{{alumno.nombre}} {{alumno.apellido}}</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<div class="col-80" id="vistaAlumno">
							<p class="propiedad">Fecha de Nacimiento:</p>
							<p v-text="alumno.fecha_nacimiento"></p>
							<p class="propiedad">Nro. de Contacto:</p>
							<p v-text="alumno.nro_contacto"></p>
							<p class="propiedad">mail:</p>
							<p v-text="alumno.mail"></p><br>
						</div>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<button class="confirmar_boton" @click="eliminarAlumno" disabled> Eliminar usuario </button>
					</div>
				</div>


				<!-- PLAN NUEVO -->


				<div id='planNuevo-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>PLAN NUEVO</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div id="planNuevo-app">
							<div class="col-80">
								<p class="titulo">PLAN NUEVO</p>
							</div>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
							<div class="col-80">
								<div>
									<p class="plan_nuevo_label">Nombre del Plan: </p>
									<input v-model="nombrePlan" type="text" placeholder="Ingrese Nombre del Plan"
										class="nombre_plan_input">
									<p class="plan_nuevo_label">Días: </p>
									<span>
										<input type="text" class="nombre_dia_input" v-model="nombreDia"
											placeholder="Ingrese Nombre Dia">
										<button id="nuevoDia" class="agregar_boton" v-on:click="agregarDia">＋</button>
										<button id="quitarDia" class="quitar_boton"
											v-on:click="quitarDia">&minus;</button>
									</span>
								</div>
							</div>
							<div class="col-80">
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<ul class="lista_dias">
									<li v-for="(dia, index) in dias">
										<a v-on:click="diaNuevo(index)" v-text="dia.nombre"></a>
									</li>
								</ul>
								<br>
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<br>
							</div>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
							<br>
							<button class="confirmar_boton" @click="confirmarPlan">Confirmar</button>
						</div>
					</div>
				</div>


				<!-- PLAN NUEVO - DIA NUEVO -->


				<div id='diaNuevo-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>DÍA NUEVO</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div id="diaNuevo-app">
							<div class="col-80">
								<p class="titulo">{{nombreDia}}</p>
							</div>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
							<div class="col-80">
								<button id="nuevoEjercicio" class="agregar_ejercicio_boton"
									v-on:click="agregarEjercicio">Agregar Ejercicio</button>
								<button id="quitarEjercicio" class="quitar_boton"
									v-on:click="quitarEjercicio">&minus;</button>
							</div>
							<ul class="lista_ejercicios">
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<li v-for="(ejercicioA,index) in ejercicios">
									<div class="col-80">
										<span>
											<p>Ejercicio - {{ index + 1}}</p>
										</span>
										<p>Nombre:</p><input type="Text" v-model="ejercicioA.nombre">
										<br>
										<p>Series:</p><input type="Number" v-model="ejercicioA.series">
										<br>
										<p>repeticiones:</p><input type="Number" v-model="ejercicioA.repeticiones">
										<br>
										<p>Intensidad:</p><input type="Number" v-model="ejercicioA.intensidad">
										<br>
										<p>Tiempo:</p><input type="Number" v-model="ejercicioA.tiempo">
										<br>
									</div>
									<br>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								</li>
							</ul>
							<br>
							<button class="confirmar_boton" @click="confirmarEjercicio">Confirmar</button>
						</div>
					</div>
				</div>


				<!-- SESION NUEVA -->


				<div id="nuevaSesion-page" class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>NUEVA SESIÓN - PLANES</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div id="nuevaSesion-app">
							<p class="titulo">PLANES</p>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
							<br>
							<div class="col-80">
								<input type="text" class="filtro_planes_input"
									onkeyup="filtro('.filtro_planes_input', '.lista_planes')" placeholder="Buscar plan">
								<ul class="lista_planes">
									<li v-for='(plan, index1) in planes'>
										<a onclick="desplegarDiasOnclick(this)">{{plan.nombre}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>


				<!-- SESION NUEVA - EJERCICIOS -->


				<div id='nuevaSesionEjercicios-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>NUEVA SESIÓN - EJERCICIOS</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div id="nuevaSesionEjercicios-app">
							<p class="titulo">INGRESAR SESIÓN</p>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
							<div class="col-80">
							</div>
							<ul class="lista_sesion_ejercicios">
								<li v-for="ejercicio in ejercicios">
									<div class="col-80">
										<span>
											<p>{{ejercicio.nombre}}</p>
										</span>
										<hr
											style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
										<p class="lista_ejercicio_elemento">Series:</p><input type="Number"
											placeholder="Número de Series" v-model="ejercicio.series">
										<br>
										<p class="lista_ejercicio_elemento">repeticiones:</p><input type="Number"
											placeholder="Número de Repeticiones" v-model="ejercicio.repeticiones">
										<br>
										<p class="lista_ejercicio_elemento">Intensidad:</p><input type="Number"
											placeholder="Intensidad Alcanzada" v-model="ejercicio.intensidad">
										<br>
										<p class="lista_ejercicio_elemento">Tiempo:</p><input type="Number"
											placeholder="Tiempo de Ejecución" v-model="ejercicio.tiempo">
										<hr
											style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
										<br>
									</div>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								</li>
							</ul>
							<br>
							<button class="confirmar_boton" @click="confirmarSesionEjercicios">Confirmar</button>
						</div>
					</div>
				</div>


				<!-- VISUALIZAR PLANES -->


				<div id="visualizarPlanes-page" class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>PLANES</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div>
							<div id="visualizarPlanes-app">
								<p class="titulo">PLANES</p>
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<br>
								<div class="col-80">
									<input type="text" class="filtro_planes_input"
										onkeyup="filtro('.filtro_planes_input', '.lista_planes')"
										placeholder="Buscar plan">
									<br>
									<ul class="lista_planes_visualizar"><br>
										<li v-for='plan in planes'>
											<a onclick="desplegarDiasVisualizarOnclick(this)">{{plan.nombre}}</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- VISUALIZAR PLANES - VISUALIZAR EJERCICIOS -->


				<div id='visualizarEjercicios-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>EJERCICIOS</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<p class="titulo">{{diaNombre}}</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<ul class="lista_sesion_ejercicios">
							<li v-for="(ejercicio, index) in ejercicios">
								<div class="col-80">
									<p class="nombre_ejercicio">{{ejercicio.nombre}}</p>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<p class="lista_ejercicio_elemento">Series: {{ejercicio.series}}</p>
									<br>
									<p class="lista_ejercicio_elemento">repeticiones: {{ejercicio.repeticiones}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Intensidad: {{ejercicio.intensidad}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Tiempo: {{ejercicio.tiempo}}</p>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<button class="ver_sesiones_boton" @click="verSesiones(index)">Ver Sesiones</button>
								</div>
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<br>
							</li>
						</ul>
					</div>
				</div>


				<!-- VISUALIZAR PLANES - VISUALIZAR EJERCICIOS - VISUALIZAR SESIONES -->


				<div id='visualizarSesiones-page' class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>SESIONES</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<p class="titulo">{{nombreEjercicio}}</p>
						<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						<ul class="lista_sesion_ejercicios">
							<li v-for="(sesion, i) in sesiones">
								<div class="col-80">
									<p class="nombre_ejercicio">Sesión - {{i + 1}}</p>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<p class="lista_ejercicio_elemento">Series: {{sesion.series}}</p>
									<br>
									<p class="lista_ejercicio_elemento">repeticiones: {{sesion.repeticiones}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Intensidad: {{sesion.intensidad}}</p>
									<br>
									<p class="lista_ejercicio_elemento">Tiempo: {{sesion.tiempo}}</p>
									<hr
										style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
									<br>
								</div>
								<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
								<br>
							</li>
						</ul>
					</div>
				</div>


				<!-- ASIGNAR PLAN -->


				<div id="asignarPlan-page" class="mui-page">
					<div class="mui-page-header">
						<a class="mui-backarrow" href="#"></a>
						<div class='mui-page-title'>ASIGNAR PLAN</div>
						<a class="mui-headmenu" href="#"></a>
					</div>
					<div class="mui-page-body" id="second-body" style="overflow:scroll">
						<div>
							<div class="col-80">
								<p class="seleccionar_plan_label">Seleccionar Plan:</p>
								<select class="col-80 planes_selector" v-model="id_planSeleccionado">
									<option disabled value="">Seleccione un plan</option>
									<option v-for="plan in planes" v-bind:value="plan._id">{{plan.nombre}}</option>
								</select>
								<button class="confirmar_selector_boton"
									@click="asignarPlanSeleccionado">Agregar/cambiar plan asignado</button>
							</div>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
							<div class="col-80">
								<div class="plan_asignado_contenedor"><span class="plan_asignado_label">Plan
										asignado:</span> {{plan_actual.nombre}}</div>
							</div>
							<hr style="width:95%; height:3px; border-width:0; color:gray; background-color:gray">
						</div>
					</div>
				</div>


				<!-- Copy the code of "template-page" to add more pages -->
				<!-- Copie el código de template-plage para agregar más páginas -->

				<!-- Optional.Toolbar out of mui-viewport to be omnipresent. Remove if not needed. -->
				<!-- Opcional. Barra de herramientas fuera de mui-viewport para ser omnipresente. Elimínalo si no lo necesitas. -->


				<div class="mui-tabbar" id="footer">
					<ul class="mui-tabbar-list">
						<li class="mui-tabbar-button"><a href="#" id="tabbar-button1"></a></li>
						<li class="mui-tabbar-button"><a href="#" id="tabbar-button2"></a></li>
						<li class="mui-tabbar-button"><a href='#' id="tabbar-button3"></a></li>
					</ul>
				</div>
			</div>

			<!-- mui-screen level panel -->
			<!-- Panel a nivel de mui-screen -->

		</div>
		<div id="menu-panel" class="mui-panel">
			<div class="mui-panel-header">
				<div class='mui-panel-title'>Menu</div>
			</div>
			<div class="mui-panel-body">
				<div>
					<ul id='menuoptions' class='mui-list'>
						<li><a @click="logout">Cerrar Sesión</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>